*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lavender;
    color: #494949;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header{
    background-color:white;
    height: auto;
    padding: 10px 10px 0 10px;
}
header img {
    width: 200px;
}

header .btn{
    float: right;
    height: 40px;
    width: 150px;
    background-color: #f1f1ff;
    font-size: 20px;
    border-color: cornsilk;
    border-radius: 5px;
    border: none;
    transition-duration: 0.5s;
}
header .btn:nth-last-child(2){
    margin-left: 5px;
}

nav{
    background-color: white;
    height: 50px;
    text-align: center;
}

.boton-nav{
    background-color: #f1f1ff;
    width: 180px;
    height: 40px;
    font-size: 20px;
    border-color: cornsilk;
    border-radius: 5px;
    border: none;
    transition-duration: 0.5s;
}

header .btn:hover,
.boton-nav:hover{
    background-color: #d9d9ff;
}

.slider{
    background-color: #F9F9FF;
    height: 250px;
    margin: 10px;
}
 
body > section, 
body section.contenido section {
    display: flex;
}

body > section > section{
    border-radius: 5px;
}

body > section.tienda,
body > section.tienda section{
    display: flex;
}

body > section.form,
body > section.datos{
display: flex;
}

body > section .categoria{
background-color: #F9F9FF;
min-height: 1000px;
width: 25%;
margin: 10px;
padding: 10px;
}

section.categoria h2{
    padding-top: 10px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    background-color: #DCDCFA;
}

section.categoria ul{
    font-size: 20px;
    margin: 10px;
    background-color: #f1f1ff;
    border-radius: 5px;
    padding-left: 10px;
}

section.categoria li{
    font-size: 15px;
    margin :10px;
    list-style: none;
    padding-left: 20px;
}

body > section .contenido{
    background-color: #F9F9FF;
    min-height: 1000px;
    width: 75%;
    margin: 10px;
    padding: 10px;
}


section.contenido article img{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}

section.contenido article a{
    display: block;
    text-decoration: none;
    color: #494949;
    transition-duration: 0.5s;
}

section.contenido article a:hover{
    opacity: 0.8;
}

section.contenido article p{
    font-size: 20px;
    font-weight: bold;
}


section.contenido article{
    float: left;
    width: 350px;
    height: 410px;
    text-align: center;
    background-color: #f1f1ff;
    border-radius: 5px;
}

section.contenido article:not(:nth-last-child(1)){
    margin-right: 22px;
    margin-bottom: 10px;
}

section.contenido h2{
    padding-top: 10px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    background-color: #DCDCFA;
    margin-bottom: 10px;
}

body >section .tienda{
    background-color: #F9F9FF;
    height: 1000px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    flex-direction: row;
}

section.tienda article{
    float: left;
    width: 23%;
    height: 410px;
    text-align: center;
    background-color: #f1f1ff;
    margin: 15px;
    margin-top: 20px;
}

section.tienda article img{
    width: 350px;
    height: 300px;
    padding: 10px;
}

section.tienda article h3{
    height: 40px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    
}

body > section .form{
    background-color: #F9F9FF;
    height: 600px;
    width: 50%;
    margin: 10px;
    padding: 10px;
}

section.form form{
    height: 500px;
    text-align:left;
    background-color: #f6f6f9;
    padding: 5px;
}

section.form h2{
    height: 50px;
    text-align: center;
    border-radius: 5px;
    background-color: #DCDCFA;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-top: 5px;

}

section.form form input,
section.form form textarea{
    width: 95%;
    margin: 6px;
    padding: 5px 0px;

}

section.form form button{
    text-align: center;
    height: 40px;
    width: 150px;
    font-size: 20px;
}

section.form form label{
    font-size: 20px;
    border: none;
}

body > section .datos{
    background-color: #F9F9FF;
    height: 600px;
    width: 50%;
    margin: 10px;
    padding: 10px;
}

section.datos article{
    height: 400px;
    text-align: center;
    background-color: #f1f1ff;
    margin: 15px;
    margin-top: 20px;

}

section.datos h2{
    height: 40px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;

}


footer{
    background-color:whitesmoke;
    width: 100%;
    height: 300px;
    padding: 50px 0px;
    font-size: 20px;
    text-align: center;
    color: black;
    margin: 10px;
    
}
div.container-footer{
    display: flex;
    max-width: 1800px;
    margin: auto;
    justify-content: space-between;
}

.box-footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

footer > .container-footer .box-footer img{
    width: 200px;
}


.box-footer h2{
    margin-bottom: 30 px;
    color: #343434;
    font-weight: 700;
}

.box-footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.5s;
}

.box-footer a:hover{
    opacity: 0.8;
}

.box-info{
    max-width: 1800px;
    margin:auto;
    text-align: center;
    padding: 0px 40px;
}

.box-info p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box-info hr{
height: 1px;
color: #7a7a7a;
}


