@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?9t2bls');
  src:  url('icomoon.eot?9t2bls#iefix') format('embedded-opentype'),
    url('icomoon.ttf?9t2bls') format('truetype'),
    url('icomoon.woff?9t2bls') format('woff'),
    url('icomoon.svg?9t2bls#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\f015";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-sign-out:before {
  content: "\f08b";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-shopping-bag:before {
  content: "\f290";
}
